.animation {
    color: transparent;
    font-size: 40px;
    white-space: no-wrap;
    position: relative;
}

.animation::before {
    content: "Md. Rajebul Alam Khokan";
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 1.3em;
    color: #df4a43;
    ;
}

/* Media Query */
@media only screen and (min-width: 200px) and (max-width: 560px) {

    .animation {
        font-size: 20px;
    }

}