.linkItem {
    font-size: 16px;
    font-weight: 600;
    color: #565966;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.linkItem::after {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #df4a43;
    width: 0%;
    height: 5px;
    content: "";
    transition: 0.5s;
}

.linkItem:hover::after {
    width: 100%;
}

.linkItem:hover {
    color: #df4a43;
}

/* Media Query */

@media only screen and (min-width: 200px) and (max-width: 991px) {

    .linkItem {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .linkItem:hover::after {
        width: 50%;
    }

}